h1, h2, body {
    font-family: Calibri, Arial, Helvetica, sans-serif
}

.title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    background-color: darkblue;
    text-align: center;
}

h2 {
    color: blue;
    font-weight: bold;
    font-size: 28px;
}

body {
    font-size: 18px;
}

  .img {
    height: 500px;
    width: auto;
  }
